.card-height{
    height: 720px;
    
}

.shadow-btn{
    box-shadow: 1px 1px 8px black;
}

.service-image{
    transform: scale(.8);
}

.card:hover>.service-image{
    transform: scale(1);
    transition-duration: .5s;
    
}